<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Pokes</title>
    {%load staticfiles%}
    <link rel="stylesheet" href="{% static 'pythonapp/css/friend.css' %}">  
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  </head>
 <body>
    <p><a href="/logout" class='move'><u>Logout</u></a></p>
    <h3>Welcome, {{user_ses.alias}}</h3>
    <p>{{total.count}} people poked you!</p>

    <div class="box">
      {% for your_poke in yours %}
        <p>{{your_poke.userpoked.alias}} gave you
        {{your_poke.poked}} pokes(s).</p>
      {% endfor %}
    </div>

    <h5>People you may want to poke:</h5>
    <table>
      <tr>
        <th>Name</th>
        <th>Alias</th>
        <th>Email Address</th>
        <th>Poke History</th>
        <th>Action</th>
      </tr>
      {% for other in other_pokes %}
      <tr>
        <td>{{other.name}}</td>
        <td>{{other.alias}}</td>
        <td>{{other.email}}</td>
        <td>{{other.counter}}</td>
        <td>
          <form action="/poke" method="post">
            {% csrf_token %}
            <input type="hidden" name="userpoked" value="{{other.id}}">
            <input type="submit" value="Poke!">
          </form>
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
  
