<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Test</title>
    {%load staticfiles%}
    <link rel="stylesheet" href="{% static 'pythonapp/css/friend.css' %}">  
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  </head>
  <body>
    <div>
      <form action='/logout' method = 'post'>
        {% csrf_token %}
         <input type='submit' value='Logout'>
    </form>
    <h1>Welcome{{user.name}}</h1><br>
    <h4>{{ pokes.count }} people poked you!</h4>
    <p>Count People Poked You!</p>
    <div class = 'box'>
      {% for friend in pokes%}
      <p>{{ friend.userpoked.name }}</p>
      <p>{{friend.poked}}</p>
      {% endfor %}
    </div>
    <table>
    <thead>
    <br>
      <h2>People You may want to poke</h2><br>
        <tr>
          <th>Name </th>
          <th>Alias </th>
          <th>Email Address  </th>
          <th>Poke History </th>
          <th>Action </th>
        </tr>
      </thead>
      <tbody>
        {% for friend in users %}
          <tr>
          <td>{{friend.name}}</td>
          <td>{{friend.alias}}</td>
          <td>{{friend.email}}</td>
          <td>{{pokable.count}}</td>
          <td><form action="/poke/{{ friend.id }}" method="post">
             {% csrf_token %}
             <input type="submit" value ="Poke!">
             </form>
             </td>
          </tr>
        {% endfor %}
      </tbody>
     </table>
     <br><br>
  </div>
</body>
</html>

  
