<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Login/Registration</title>
    {%load staticfiles%}
  <link rel="stylesheet" href="{% static 'loginapp/css/loginreg.css' %}">  
  <body>
      <h3>Welcome</h3>
      <h3>Register</h3>
      <form action='/registration' method='post'>
          {% csrf_token %}
          Name: <input type='text' name='name'><br><br>
          Alias: <input type="text" name="alias"><br><br>
          Email: <input type="text" name="email"><br><br>
          Password: <input type="password" name="password"><br><br>
          <p>*password should be atleast characters</p><br>
          Confirm-Password:<input type="password" name="confirm_password"><br><br>
          Birthday: <input type="date" name="birthday"><br><br>
          <input type="submit" value="Register">
      </form>
      <!-- Regtags -->
      {% if messages %}
        {% for msg in messages %}
          {%if 'regtag' in msg.tags%}
          <p class='green'>{{msg.message}}</p>
          {%endif%}
        {% endfor %}
      {% endif %}   
      <h3>LOGIN</h3>
      <form action='/login' method='post'>
          {% csrf_token %}
          Email: <input type="text" name="email"><br><br>
          Password: <input type="password" name="password"><br><br>
          <input type="submit" value="login">
      </form>
  <!-- LOGTAGS -->
    {% if messages %}
          {% for msg in messages %}
            {% if 'logtag' in msg.tags%}
              <p class="mess">{{msg.message}}</p>
            {%endif%}
          {% endfor %}
    {% endif %}    
    </body>
</html>

  